{% extends 'main/base.html' %}

{% block title %}Create New List {% endblock %}

{% block content %}
<h1 class="mt-2">Create List</h1>
<hr class="mt-0 mb-4">
<h3>Add a new To Do List</h3>
<br>
<form method="post" action="/create/" class="form-group">
    {% csrf_token %}
    <div class="input-group">
        <div class="input-group-text" id="btnGroupAddon2">
            <button type="submit" name="save" class="btn btn-success">Create List</button>
            {{ form.name }}
        </div>
    </div>
</form>
{% endblock %}