{% extends 'main/base.html' %}
{% block title %}
List Page
{% endblock %}


{% block content %}
    <h1>{{ ls.name }}</h1> 
    <form method="post", action ="#">
        {% csrf_token %}
        {% for item in ls.item_set.all %}
        <br>
        <div class="input-group">
            <div class="input-group-text" id="btnGroupAddon2">
                {% if item.complete == True %}
                        <input type="checkbox", value="clicked", name="c{{item.id}}" checked>       
                {% else %}  
                        <input type="checkbox", value="clicked", name="c{{item.id}}">
                {% endif %}
            </div>
            <input type="text" value="{{item.text}}" class="form-control">
        </div>
        {% endfor %}
        <br>
        <div class="input-group">
            <div class="input-group-text" id="btnGroupAddon2">
                <button type="submit", name="save", value="save" class="btn btn-success">Save</button>
            </div>
            <div class="input-group-text" id="btnGroupAddon2">
                <button type="submit", name="newItem", value="newItem" class="btn btn-success">New Item</button>
                <input type="text" class="form-control" placeholder="Input new Item" aria-label="Input group example" aria-describedby="btnGroupAddon2"  name="newI">
            </div>
        </div>
    </form>
{% endblock %}
